<h1><%= @person.name %></h1>

<p><%= link_to 'edit', edit_person_path(@person) %>
|
<%= link_to 'delete', @person, method: :delete, data: { confirm: "Are you sure you want to delete #{@person.name}?" } %></p>

<p><%= pluralize(@person.passages.count, 'passage') %></p>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <tbody>
        <% for passage in @person.passages %>
        <tr>
          <td><%= passage.body %></td>
          <td><%= link_to "permalink", passage %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'back', people_path %>
