<h1>New Tag</h1>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@tag) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <%= link_to "Cancel", tags_path, class: "btn btn-danger" %>
    <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
