<h1><%= @tag.name %></h1>

<p><%= link_to 'edit', edit_tag_path(@tag) %><% if @passages.count == 0 %>
|
<%= link_to 'delete', @tag, method: :delete, data: { confirm: "Are you sure you want to delete #{@tag.name}?" } %><% end %></p>

<p><%= pluralize(@passages.count, 'passage') %> tagged with <em><%= @tag.name %></em>:</p>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <tbody>
        <% for passage in @passages %>
        <tr>
          <td><%= passage.body %></td>
          <td><%= link_to "permalink", passage %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "back", tags_path %>
