<h1>Passages <%= link_to "add", new_passage_path, class: "btn btn-sm btn-primary" %></h1>

<div class="row">
  <div class="col-xs-12">
    <ul>
      <% for passage in @passages %>
      <li>
        <% if passage.title.present? %>
        <%= link_to passage.title, passage %>
        <% else %>
        <%= link_to passage.body, passage %>
        <% end %>

        <% if passage.author %>
        (<%= link_to passage.author.name, passage.author %>)
        <% end %>

        <% if passage.resource %>
        (<%= link_to passage.resource.name, passage.resource %>)
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "add", new_passage_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
