<h1>New Passage</h1>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@passage) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 10, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :resource_id, "Resource" %>
      <%= f.collection_select :resource_id, Resource.order(:name), :id, :name, { include_blank: true }, { class: "form-control" } %>
    </div>

    <div class="form-group">
      <%= f.label :author_id, "Author" %>
      <%= f.collection_select :author_id, Person.order(:name), :id, :name, { include_blank: true }, { class: "form-control" } %>
    </div>

    <div class="form-group">
      <%= f.label :tag_ids, "Tags" %>
      <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, { }, { class: "form-control", multiple: true } %>
    </div>

    <%= link_to "Cancel", passages_path, class: "btn btn-danger" %>
    <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
